@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 23 23 23;
    --foreground: #ffffff;
    --primary: 30 64 175;
    --lighter: 96 165 250;
    --secondary:  30 41 59;
    --primary-text: #d4d4d4;
    --secondary-text: #94a3b8;
    --myteal: 20 184 166;
  }
}

@media print {
  header,
  footer,
  nav,
  .no-print {
    display: none !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.text-shadow-xl {
  text-shadow: 0 0 25px #00000088;
}
.text-shadow {
  text-shadow: 0 0 15px #00000055;
}
.text-shadow-sm {
  text-shadow: 0 0 10px #00000033;
}

.glass {
  position: relative;
  background-image: linear-gradient(135deg, #ffffff10, #ffffff05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 4px 6px 20px #00000044;
  border: 1px solid #ffffff33;
}
.glass::before,
dialog::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -10px;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  background: #ffffff0b;
  z-index: -1;
}

dialog::backdrop {
  background-color: #171717aa;
  backdrop-filter: blur(8px);
}

input:-internal-autofill-selected {
  background-color: initial;
}

.radio-label:has(:checked) {
  background-image: linear-gradient(-45deg, #1e1b4b, #3730a3);
  color: white;
}
.radio-label:has(:disabled) {
  background-color: rgb(var(--background));
  color: #ffffff33;
  cursor: not-allowed;
  display: none;
}

.chatMessage.receiver::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  background-color:#0d948855;
  z-index: -2;
}

.button-container {
  position: relative;
  padding: 0.1rem;
  border: 4px solid transparent;
  border-radius: 0.5rem;
  overflow: hidden;
}
.button-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500%;
  height: 500%;
  translate: -50% -50%;
  background-image: conic-gradient(#ffffff66, transparent, #ffffff66, transparent, #ffffff66);
  z-index: -1;
  animation: spin 3s infinite linear;
}

.fade-up {
  animation: fadeInAnimation 1s both 1;
}
.zoom-in {
  animation: zoomInAnimation 1s both cubic-bezier(.61,.53,.38,1.21) 1;
}
.late {
  animation-delay: 0.5s;
}

.spinner {
  animation-name: spin, color-pulse;
  animation-duration: 3s, 1s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-direction: normal, alternate;
}

@keyframes spin {
  to {rotate: 360deg;}
}

@keyframes color-pulse {
  from {color: #0d9488;}
  to {color: #06b6d4;}
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      translate: 0 50%;
  }

  100% {
      opacity: 1;
      translate: none;
  }
}

@keyframes zoomInAnimation {
  0% {
    scale: 0%;
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    scale: 100%;
  }
}

@media print {
  .qr-code {
    page-break-inside: avoid;
  }
}